{% extends 'datasploit/header2.html' %}
{% block body %}

<div class="container">

    <row>

        <div class="col-md-12 right-pane">
            <ul class="nav-topmenu">
                <li class="active">
                    <a class="activelink" href="/email">Email Full</a></li>

            </ul>
            <div id="alerts">
            </div>
            <div class="col-lg-12">
                <!--<a href="/admin/datasploitapp/domain_pagelinks_db/export/?" class="btn btn-info" role="button"-->
                <!--style="position: absolute;-->
                <!--right: 0px; top: 20px" type="button">Download Pagelinks Data</a>-->
                <div>
                    <div id="results">

                        <div class="result">
                            <ul class="result-metadata">
                                <h9>Name :</h9>
                                <ul>
                                    {% for data in email_data %}
                                    {{data.name}}
                                    {% endfor %}
                                </ul>
                                <h9>Organizations :</h9>
                                <ul>
                                    {% for data in email_data %}
                                    {{data.organizations}}
                                    {% endfor %}
                                </ul>
                                <h9>Web Link :</h9>
                                <ul>
                                    {% for data in email_data %}
                                    {{data.web}}
                                    {% endfor %}
                                </ul>
                                <h9>Social Profiles :</h9>
                                <ul>
                                    {% for data in email_data %}
                                {{data.social_profile_name}}
                                    {% endfor %}
                                    <code>{% for data in email_data %}</code>
                                {{data.social_profile}}
                                <br>
                                {% endfor %}
                                </ul>
                                <h9>Chat Data :</h9>
                                <!--<ul>-->
                                <!--{% for data in email_data %}-->
                                <!--<li>{{data.chats}}</li>-->
                                <!--{% endfor %}-->
                                <!--</ul>-->
                                </br>
                                <h9>Other Details :</h9>
                                </br>
                                <h9>Gender :</h9>
                                <ul>
                                    {% for data in email_data %}
                                    {{data.gender}}
                                    {% endfor %}
                                </ul>
                                <h10>Country :</h10>
                                {% for data in email_data %}
                                {{data.country}}
                                {% endfor %}
                                </br>
                                <h10>City :</h10>
                                {% for data in email_data %}
                                {{data.city}}
                                {% endfor %}
                                </br>
                                <h9>Photos :</h9>
                                <ul>
                                    {% for data in email_data %}
                                    <img src="{{data.photos}}">
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <nav>
                            <nav>
                                <ul class="pager">
                                    {% if email_data.has_previous %}
                                    <li class="previous"><a
                                            href="?page={{ email_data.previous_page_number }}"><span
                                            aria-hidden="true">&larr;</span> Previous</a></li>
                                    {% endif %}


                                    <span class="current">
                                            Page {{ email_data.number }} of {{ email_data.paginator.num_pages }}.
                                        </span>
                                    {% if email_data.has_next %}
                                    <li class="next"><a href="?page={{ email_data.next_page_number }}">Next
                                        <span
                                                aria-hidden="true">&rarr;</span></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </row>
</div>


{% endblock %}