{% extends 'datasploit/header2.html' %}
{% block body %}

<div class="container">
    <div class="container">
        <div class="st-demo-header">
            <ul class="nav nav-tabs list">
                <li class="">
                    <a class="activelink" href="/whois/">Whois Data</a></li>
                <li class="">
                    <a href="/dnsrecords_url/">DNS Records</a></li>
                <li class="">
                    <a href="/pagelink/">Pagelinks</a></li>
                <li class="">
                    <a href="/punkspider/">Punkspider</a></li>
                <li class="active">
                    <a href="/shodan/">Shodan Data</a></li>
                <li class="">
                    <a href="/subdomains">Subdomains</a></li>
                <li class="">
                    <a href="/wappalyzer">Wappalyzer</a></li>
                <li class="">
                    <a href="/wikileaks/">Wikileaks Data</a></li>
                <li class="">
                    <a href="/zoomeye/">Zoomeye Data</a></li>
                <li class="">
                    <a href="/censys">Censys Data</a></li>
            </ul>
        </div>
    </div>
    <div id="alerts">
    </div>
    <div class="col-lg-12">
        <a href="/admin/datasploitapp/domain_shodans_db/export/?" class="btn btn-info" role="button" style="position: absolute;
    right: 0px; top: 20px" type="button">Download Shodan Data</a>
        <div>
            <div class="result">
                {% for data in shodan_data %}
                <div class="ip">{{data.ip}}</div>
                <br>
                <pre class="detail">{{data.host}}</pre>
                <pre class="detail">{{data.domain}}</pre>
                <pre class="detail">Port:{{data.port}}</pre>
                <pre class="detail"><code>{{data.data}}</code></pre>
                <div class="">
                    <pre class="detail">{{data.location}}</pre>
                </div>
                <br/>
                {% endfor %}
            </div>
            <nav>
                <nav>
                    <ul class="pager">
                        {% if shodan_data.has_previous %}
                        <li class="previous"><a href="?page={{ shodan_data.previous_page_number }}"><span
                                aria-hidden="true">&larr;</span> Previous</a></li>
                        {% endif %}
                        <span class="current">
                                            Page {{ shodan_data.number }} of {{ shodan_data.paginator.num_pages }}.
                                        </span>
                        {% if shodan_data.has_next %}
                        <li class="next"><a href="?page={{ shodan_data.next_page_number }}">Next <span
                                aria-hidden="true">&rarr;</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </nav>
        </div>
    </div>
</div>

{% endblock %}